body {
    background: #222;
}

.label {
    fill: antiquewhite;
    font-size: 15px;
}

.tip {
    visibility: hidden;
    position: absolute;
    z-index: 20;
}

#sg-contain {
    display: inline-block;
}