body {
    background: #222;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.label {
    fill: antiquewhite;
    font-size: 15px;
}

.tip {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    background: rgba(124, 117, 117, 0.5);
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

#sg-contain {
    display: inline-block;
    vertical-align: top;
}

#wc-contain {
    vertical-align: top;
}

button.hidden {
    display: none;
}

.hidden {
    display: none;
}

.h-cell {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.right-b {
    float: right;
    margin-right: 5px;
}

.tooltitle {
    text-align: center;
    color: #abb1ba;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    
  }

  .clickable {
    cursor: pointer;
  }